*{  
    text-decoration: none;
    list-style: none;
}
.cursair {
    position:fixed;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    transition: .2s;
    pointer-events: none;
    z-index: 999;
    mix-blend-mode: difference;
}
header footer main{
    z-index: 1;
}
*:focus{
    outline: none;
}
body{
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url("../images/Illustrations + Logo/All pages/arrière_plan.png");
}  
a{
    color: white;
}
a:hover{
    text-decoration: underline;
}
/* Style de  police */
@font-face{
    font-family: "PantheraRegular";
    src: url(../fonts/PantheraRegular-MVZ9J.ttf);
}
h1{
    font-family:"PantheraRegular";
    font-size: 68px;
    color: #9E91B7;
}
@font-face{
    font-family: "FontsFree";
    src: url(../fonts/FontsFree-Net-BEYNO.ttf);
}
h2, .menu2 a{
    font-family:"FontsFree";
    font-size: 32px;
    color: #9E91B7;
}
@font-face{
    font-family: "h3";
    src: url(/fonts/FontsFree-Net-BEYNO.ttf);
}
h3{
    font-family:"FontsFree";
    font-size:  24px;
    color: #9E91B7;
}
@font-face{
    font-family: "Cantarell-Regular" ;
    src: url(../fonts/Cantarell-Regular.ttf);
}
p,  .page a{
    font-family: "Cantarell-Regular";
    font-size: 18px;
    color: #FFFF;
}
.politique a{
    font-family: "Cantarell-Regular";
    font-size: 1Opx;
    color: #FFFF;
}
.formulaire p{
    font-family: "Cantarell-Regular";
    font-size: 20px;
}
.centre1 button{
    font-family: "Cantarell-Regular";
    font-size: 14px;
}

.formulaire h4{
    font-family: "Cantarell-Regular";
    font-size: 32px;
}
.cebtre0{
    font-family: "Cantarell-Regular";
    font-size: 30px;
}
.propos h4, .rs h4{
    font-family: "Cantarell-Regular";
    font-size: 18px;
    letter-spacing: 6px;
}
/* barre de navigation */
.coté{
    position: absolute;  
    top: 0;
}
.ligne1{
    background-color: #FFFF;
    height: 450px;
    width: 3px;
    position: fixed;
}
.ligne2{
    position: fixed;
}
.ligne2-1{
    background-color: #FFFF;
    height: 350px;
    width: 3px;
    margin-left: 90%;
    
}
.logo img{
    margin-left: 50%;
}
.logo img:hover{
    filter: brightness(0) invert(1);
}
/* Menu */
.menu{
   display: flex;
   padding: 3% 5% 0 5%;
   justify-content: space-between; 
}
.menu2 {
    display: flex;

}
.menu2 a{
    padding: 0% 3%;
    color: #FFFF;
}
.menu2 a:hover{
    text-decoration: underline;
    color: #9E91B7;
    
}

/* main */


/* premiere section */
.black{
    text-align: justify;
    margin-left: 8%;
    background-image: url("../images/Illustrations + Logo/Accueil/Pantherhome1..png");
    background-size: 70%;
    background-position: 140%;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 9%
}
#intro{
    width: 45%;
}
/* section 2 */
.page2{
    height: 250px;
    margin-left:3%;
    background-color: #04163a;

}
.les-actuer{
    width: 95%;
    height: 250px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5%;
    margin-bottom: 15%;
    transition: all 1s ease;
    margin-top: 5%;
}
.sous-actuer{
    display: flex;
    gap: 2%;
    margin-left: 2%;
}
.description-acteur{
    min-height: 50%;
    height: auto;
}
.description-acteur p, a{
    text-align: justify;
    font-size: 12px;
    width: 260px;
    height: auto;
}
.image-acteur{
    height: 250px;
    width: auto;
}
/* image de slider */
#killmonger{
    width: auto;   
    height: 20em;
    margin-top: -2em;
    margin-left: 1.5em;
}

.image-acteur img {
    float: left;
    margin-right: 1em;
    width: 200px;
}
.image-acteur:hover {
    transform: scale(1.2);
    transition: all 1s ease;
}
/* peti fleche de slider */
#droite {
    width: 200px;
    position: absolute;
    top: 800px;
    right: -80px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
}

#droite:hover {
    opacity: 1;
    
}
#gauche {
    width: 200px;
    position: absolute;
    top: 800px;
    left: 20px;
    cursor: pointer;
    transform: rotate(180deg);
    opacity: 0.5;
    transition: all 0.3s ease;
}
#gauche:hover {
    opacity: 1;
}

/* 3eme section */
.page3{
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 15% 8% 8% 11%;
}
.page3 p{
    color: white;
}
.texte{
    text-align: justify;
}

.apropo{
    background-color: #FFFF;
    border-radius: 20px;
    width: 380px;
    margin-left: 8%;
    justify-content: center;
    position: relative;
    padding-top: 55%;
    padding-bottom: 15%;
    margin-bottom: 30%;
}
.centre0, .centre1{
    text-align: center;
}
ul li{
    padding: 1% 6%;
}
.centre1 button{
    background-color: #07338C;
    margin: 1%;
    padding: 1.5% 2%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid;
    margin-right: 4%;
}
.absolue1{
    position: absolute;
    top: -30%;
    left: 10%;
    margin: auto;
}
.absolue1 img{
    height: 400px;
    transition: all 1s ease;
}
.absolue1 img:hover{
    transform: scale(1.2);
    transition: all 1s ease;
}
.colonne2{
    margin-top: 30%;

}
.texte{
    color: black;
}
.ptr6{
    width: 50%;
}
.ptr6 img{
    padding-top: 100%;
    transition: all 1s ease;
}
.ptr6 img:hover{
    transform: scale(1.2);
    transition: all 1s ease;

}
/* folmulaire */
.formulaire{
    text-align: center;
    background: linear-gradient(to bottom, white, transparent);
    width: 40%;
    margin: auto;
    padding: 2% 10%;
    min-height: 400px;
    border-radius: 120px;
    color: #021740;

}
.frm-1 input{
    border: 20px;
    border-radius: 40px 40px;
    border: 1px solid #021740;
    width: 520px;
    height: 56px;
    padding-left: 5%;
    background: none; 
    margin-bottom: 3%;
    color: black;

    
}
.frm-2 input{
    border: 20px;
    border-radius: 40px 40px;
    border: 1px solid #021740;
    width: 520px;
    height: 200px;
    padding-left: 5%;
    background: none;
    margin-bottom: 3%;
    color: #021740;
 
}
.frm-4 button{
    width: 174px;
    height: 54px;
    text-align: center;
    background: #FFFF;
    border-radius: 40px 40px;
    background-color:  #07338C;
    cursor: pointer;
}
.form4 button:hover{
   filter: drop-shadow(0 2px 1.5rem #021740);
}
.contact{
    background-image: url("../images/illustrations + logo/Accueil/Pantherhome4.png");
    width: 101%;
    padding: 12% 0;
}
/* foooter */
footer{
    background-image: url("../images/Illustrations + Logo/All pages/back_footer.png");
    width: 120vw;
    height: 100vh;
}
 .pieds{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
}  

.image-footer{
    position: relative;
    transition: all 1s ease;
}
.image-footer:hover{
    transform: scale(1.2);
    transition: all 1s ease;
}
.image-footer, .propo, .page{
    margin-top: 5%;
}
.footer2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.pltq li a::before{
    content: ".";
}
.pieds h4{
    color: #FFFF;
}
.reseau {
    letter-spacing: 22px;
}
.reseau a {
    transition: all 1s ease;
}
.reseau a :hover{
    transform: scale(1.2);
    transition: all 1s ease;
}  

